# Tony's Knowledge Planet Notes: Product Discovery on WeChat Channels

> Published: 2022-04-22 · [中文](../zh/2022-04-22-%E5%A4%A7%E7%99%BD%E7%9A%84%E7%9F%A5%E8%AF%86%E6%98%9F%E7%90%83%E8%81%8A%E8%A7%86%E9%A2%91%E5%8F%B7-%E9%AA%8C%E8%B4%A7.md) | [English](../en/2022-04-22-tony-s-knowledge-planet-chat-on-wechat-channelss-verification.md)

---

2022

Tony's Owned Audience Sticky Notes

Sharing three notes

Ad Time: WeChat Channels Knowledge Planet, limited discount, first 50! 199, let's have a meal together, and I'll accompany you for a year with WeChat Channels, welcome to invite friends to join!

END

Previous Recommendations

#[Your Owned Audience Advisor Is Online](https://mp.weixin.qq.com/s?__biz=MzkxMTIxMzM1NQ==&mid=2247487500&idx=1&sn=5201cb8186bbb2a89c15cd68bceecbed&chksm=c11ec648f6694f5e733984b87188228c518eb9ba8ee951a1759d3907f1f87330dc5ac37502e5&scene=21#wechat_redirect)#

#[What I've Accomplished in the Past Month](https://mp.weixin.qq.com/s?__biz=MzkxMTIxMzM1NQ==&mid=2247487881&idx=1&sn=28b725126134672d4050ea2dc793a235&chksm=c11ec7cdf6694edb1b243225a72f94868d2645c38dc5e5e0c918af305fa55e23d6720b2f6a6a&scene=21#wechat_redirect)#

#[Is Going All In on WeChat Channels Worth It? ](https://mp.weixin.qq.com/s?__biz=MzkxMTIxMzM1NQ==&mid=2247487510&idx=1&sn=43f6df830e69d2eecf34a0f2a4c219cb&chksm=c11ec652f6694f441cd69159e482c68ffb9d08b71e4f5e8886617659f1dd1efdefef2c26f174&scene=21#wechat_redirect)#

#[Seeing WeChat Channels Courses and Books, I Discovered...](https://mp.weixin.qq.com/s?__biz=MzkxMTIxMzM1NQ==&mid=2247487523&idx=1&sn=4809debf927fb63a7c3716c4b803e599&chksm=c11ec667f6694f71033d5babf63c998f982c7ed7d84a156521fb69d2fc4207a54db9cda3b64f&scene=21#wechat_redirect)#

#[WeChat Channels, I Want to Collaborate with You](https://mp.weixin.qq.com/s?__biz=MzkxMTIxMzM1NQ==&mid=2247487669&idx=1&sn=e7c8abddfbd645430f0a425793b22a89&chksm=c11ec6f1f6694fe7338ae9b796f18942fcca075c9dc09c248ae0ccc5895ed13794c574dbb5bf&scene=21#wechat_redirect)#

#[Once the Product Introduction Was Released, Consultations and Collaborations Came In...](https://mp.weixin.qq.com/s?__biz=MzkxMTIxMzM1NQ==&mid=2247487675&idx=1&sn=cabc78e08ec8d4757d8b648f4f609740&chksm=c11ec6fff6694fe9938ca723c50da513346741d59b232655fe9628f9e587c38e088f032f2e75&scene=21#wechat_redirect)#
